*{
    box-sizing: border-box;
}
body{
    padding: 1rem;
    margin: 1rem;
    font-family: "Lucida Grande",arial,sans-serif;
}
button{
    background-color: #FF007F;
    color: white;
}
button:hover{
    cursor:pointer;
}
.list-item-box{
    display:flex;
}